venv/
logs/*
!logs/.gitkeep

results/*.json
!results/.gitkeep
results/covers/*
results/posters/*
!results/covers/.gitkeep
!results/posters/.gitkeep

__pycache__/
scraping_letterboxd/__pycache__/
*.pyc